!!!
%html
  %head
    %title Up/Down Demo
    = javascript_include_tag('/updown')

    :javascript
      window.addEventListener('load', function() {
        var upvoteCount = document.getElementById('upvote-count');
        var downvoteCount = document.getElementById('downvote-count');

        function updateCounts(counts) {
          upvoteCount.textContent = counts.upvotes;
          downvoteCount.textContent = counts.downvotes;
        }

        function handleResponse(response) {
          if (response.status === 'duplicate') {
            alert("You've already voted for this site!");
            return;
          }
          updateCounts(response);
        }

        UpDown.getCounts(updateCounts);

        var upvoteButton = document.querySelector('.upvotes > button');
        upvoteButton.addEventListener('click', function() {
          UpDown.voteUp(handleResponse);
        });

        var downvoteButton = document.querySelector('.downvotes > button');
        downvoteButton.addEventListener('click', function() {
          UpDown.voteDown(handleResponse);
        });
      });

    :sass
      @mixin column
        position: absolute
        top: 0
        bottom: 0

        button
          position: absolute
          top: 50%
          left: 50%
          height: 300px
          width: 500px
          margin-top: -150px
          margin-left: -250px
          font-size: 64px
          cursor: pointer

        aside
          display: block
          position: absolute
          top: 50%
          left: 50%
          width: 500px
          margin-top: 150px
          margin-left: -250px
          font-size: 32px
          text-align: right

      section.upvotes
        @include column
        left: 0
        right: 50%

      section.downvotes
        @include column
        left: 50%
        right: 0

  %body
    %section.upvotes
      %button Vote up
      %aside <span id='upvote-count'>0</span> vote(s)

    %section.downvotes
      %button Vote down
      %aside <span id='downvote-count'>0</span> vote(s)
