!!!
%html
  %head
    %title Up/Down Demo
    = javascript_include_tag('/updown')

    :javascript
      window.addEventListener('load', function() {
        var upvoteCount = document.getElementById('upvote-count');
        var downvoteCount = document.getElementById('downvote-count');

        function formatCount(count, voteType) {
          return count === 1 ?
            ('1 ' + voteType + 'vote') :
            (count + ' ' + voteType + 'votes');
        }

        function updateCount(element, count, voteType) {
          if (element.classList) {
            element.classList.remove('loading');
          } else {
            element.className = '';
          }

          element.textContent = formatCount(count, voteType);
        }

        function updateCounts(counts) {
          updateCount(upvoteCount, counts.upvotes, 'up');
          updateCount(downvoteCount, counts.downvotes, 'down');
        }

        function handleResponse(response) {
          if (response.status === 'duplicate') {
            alert("You've already voted for this site!");
            return;
          }
          updateCounts(response);
        }

        UpDown.getCounts(updateCounts);

        var upvoteButton = document.querySelector('button.vote-up');
        upvoteButton.addEventListener('click', function() {
          UpDown.voteUp(handleResponse);
        });

        var downvoteButton = document.querySelector('button.vote-down');
        downvoteButton.addEventListener('click', function() {
          UpDown.voteDown(handleResponse);
        });
      });

    :sass
      header
        position: absolute
        top: 50%
        left: 0
        right: 0
        height: 100px
        margin-top: -100px
        text-align: center

        h1
          margin: 0
          font-family: Helvetica, Arial, sans-serif
          font-size: 100px
          font-weight: bold
          letter-spacing: -5px
          line-height: 100px

          .up
            color: green

          .down
            color: blue

      #github-ribbon
        position: absolute
        top: 0
        left: 0
        border: none

      section.voting
        position: absolute
        top: 50%
        left: 50%
        height: 300px
        width: 500px
        margin-top: 10px
        margin-left: -250px
        text-align: center

        .loading
          color: gray

  %body
    %header
      %h1
        <span class='up'>Up</span><span class='down'>Down</span>

    %a#github-ribbon(href='https://github.com/dtao/updown')
      %img(alt='Fork me on GitHub' src='https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png')

    %section.voting
      %button.vote-up Vote up
      %span.loading#upvote-count Loading...

      %button.vote-down Vote down
      %span.loading#downvote-count Loading...
